<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form" id="Form">
        <h2>Update User Rating</h2>
        <form action="/users/{{ user_id }}/update_movie/{{ movie_id }}" method="POST">
            <label for="movie_name">Movie name:</label>
            <input type="text" id="movie_name" name="rating" placeholder="{{ movie.movie_name }}"><br><br>
            <label for="year">Year:</label>
            <input type="text" id="year" name="year" placeholder="{{ movie.year }}"><br><br>
            <label for="director">Director:</label>
            <input type="text" id="director" name="director" placeholder="{{ movie.director }}"><br><br>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" placeholder="{{ movie.genre }}"><br><br>
            <label for="poster_url">Poster URL:</label>
            <input type="text" id="poster_url" name="poster_url" placeholder="{{ movie.poster_url }}"><br><br>
            <input type="submit" value="Update Movie" class="button">
        </form>
    </div>
    {% if message %}
    <div id="Message">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <div id="links">
        <a href="/users" class="button">Return to users list</a><br>
        <a href="/home" class="button">Return home</a><br>
    </div>
</body>
</html>