<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User movies - MovieWeb App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ user_name }}'s Movie Ratings</h1>
    <div>
        <ul>
        {% for movie in user_movies %}
            <li>
                <img src="{{ movie[0].poster_url }}" alt="Movie Poster" class="book-cover"><br>
                {{ movie[0].movie_name }} ({{ movie[0].year }})<br>
                Directed by {{ movie[0].director }}<br>
                Genre: {{ movie[0].genre }}<br>
                Rating by user: {{ movie[1] }}<br>
                <form action="/users/{{ user_id }}/delete_movie/{{ movie[0].movie_id }}" method="post">
                    <input type="submit" value="Delete from list">
                </form>
                <form action="/users/{{ user_id }}/update_movie/{{ movie[0].movie_id }}" method="get">
                    <input type="submit" value="Update user rating">
                </form>
            </li>
        {% endfor %}
        </ul>
    </div>
    </div>
    {% if message %}
    <div id="Message">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    <div id="links">
        <a href="/users/{{ user_id }}/add_movie" class="button">Add Movie</a><br>
        <a href="/users" class="button">Return to users list</a><br>
        <a href="/home" class="button">Return home</a><br>
    </div>
</body>
</html>