<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Users</h1>
    <div>
        <ul>
        {% for user in user_list %}
            <li><a href="/users/{{ user.user_id }}">{{ user.user_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div id="links">
        <a href="/home" class="button">Return home</a><br>
    </div>
</body>
</html>