body {
  background: #F5F5F0;
  color: black;
  font-family: Monaco;
}

h1 {
    text-align: center;
    color: #000000;
}

h2 {
    text-align: center;
    color: #000000;
}

.list-movies-title {
  padding: 10px 0;
  background: #FFC300;
  color: #F5F5F0;
  text-align: center;
  font-size: 16pt;
}

.movies-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-grid article {
  padding: 10px 15px;
  text-align: center;
}

.movie {
  width: 140px;
  padding: 10px 5px 5px 15px;
  background: #EFF1CF;
}

.movie-name,
.movie-year,
.movie-director,
.movie-genre {
  font-size: 0.8em;
  text-align: center;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}

.movie-cover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 128px;
    height: 193px;
}


.button {
    background-color: #4CAF50; /*green*/
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.form {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.form h2 {
    margin-top: 0;
}

 .form input {
    margin: 10px 0;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-message {
    text-align: center;
}