body {
  background: #A6D6D6;
  color: black;
  font-family: National Park;
}

h1 {
    text-align: center;
    color: #8E7DBE;
    background: #F7CFD8;
}

h2 {
    text-align: center;
    color: #8E7DBE;
}

h3 {
    margin: 0;
    text-align: left;
    font-size: 1.2em;
    color: #000000;
}

.movies-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-grid article {
  padding: 10px 15px;
  text-align: center;
}

.movie {
  width: 210px;
  padding: 10px 5px 5px 15px;
  background: #F4F8D3;
}

.movie-cover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 200px;
    height: 300px;
}

.movie-details {
    padding: 10px;
    width: 300px;
    background: #F7CFD8;
    border-radius: 5px;
}

.button {
    background-color: #4CAF50; /*green*/
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.form {
    background-color: #F7CFD8;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.form h2 {
    margin-top: 0;
}

.form input {
    margin: 10px 0;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-message {
    text-align: center;
}